<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724320524720-9nfsp28ovgacouh8bcem7a2drt1hd1q0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724320524720-9nfsp28ovgacouh8bcem7a2drt1hd1q0</string>
	<key>API_KEY</key>
	<string>AIzaSyDbJHfY6VL1KSjB260vVGCenlzKm7K5Y0c</string>
	<key>GCM_SENDER_ID</key>
	<string>724320524720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arnhssgvghhgfgh</string>
	<key>PROJECT_ID</key>
	<string>arnhss-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>arnhss-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724320524720:ios:030562d9b4c936d491de75</string>
</dict>
</plist>